In [1]:
import pandas as pd
property1 = {
  "Locality": "Antwerp",
  "Type": "House",
  "year": "2010"
    
}

property2 = {
  "Locality": "Brussel",
  "Type": "appartment",
  "year": "200"
    
}

list_of_dict = [property1,property2]
print(list_of_dict)
print(len(list_of_dict))
for dictionary in list_of_dict:
    for key in property1.keys():
        print(f"key: {key} ,value: {property1[key]}")

pd.DataFrame(list_of_dict)

[{'Locality': 'Antwerp', 'Type': 'House', 'year': '2010'}, {'Locality': 'Brussel', 'Type': 'appartment', 'year': '200'}]
2
key: Locality ,value: Antwerp
key: Type ,value: House
key: year ,value: 2010
key: Locality ,value: Antwerp
key: Type ,value: House
key: year ,value: 2010

  Locality        Type  year
0  Antwerp       House  2010
1  Brussel  appartment   200